body{
  background:#0f0f0f;
  color:white;
  font-family:Arial;
  padding:30px;
}

h1{
  margin-bottom:20px;
}

.form-box{
  background:#1a1a1a;
  padding:20px;
  border-radius:10px;
  margin-bottom:30px;
}

.input-group{
  width: 25rem;
}

input, select{
  width:100%;
  padding:10px;
  margin-bottom:10px;
  background:#111;
  border:1px solid #333;
  color:white;
  border-radius:6px;
}

button{
  padding:10px;
  width:100%;
  background:#00c2a8;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

.card{
  background:#1a1a1a;
  padding:15px;
  margin-top:10px;
  border-radius:8px;
}


